@media(min-width:768px){
	
}
@media (min-width:1200px){
	
	
}

@media(max-width:991px){
	input#filterInput{
		width:350px;
	}
	
}

@media(max-width:768px){
	
	

	
}
	


@media(max-width:767px){
	img.myThumb{
		width:240px;
		
	}
	
	.search-button{
		width:40px;
	}
	
	input#filterInput{
		
	}
	
	form.navbar-form.navbar-left{
		margin-top:0px;
		width:100%;
		margin:0px;
	}
	
	.mynav{
		position:fixed;
		z-index:3;
	}
	
	#logo-button{
		margin-top:-3px;
		height:45px;
		display:block;
	}

	.nav-bars{
		display:none;
	}
}

