
a:hover{
	text-decoration:none;
	opacity:0.8;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/HelveticaNeue-UltraLight.otf);
}

body{
	background-color: #d9d9d9;
	
}

.lander{
	
	box-shadow:0 0 3px grey;
	overflow:invisible;
	margin:0px;
	
}

.results{
	background-color:#fff;
	padding-top:20px;
}

.container h3{
	color: #4c2875;
	font-family: myFirstFont, Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:bold;
}

.genre-title{
	font-family: myFirstFont, Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:bold;
	color:#4c2875;
}

#player{
	max-width:100%;
}

.header{
	text-shadow:0 0 3px grey;
}

span.views{
	margin-left:10em;
}

ul li.related {
	width:;
	margin:5px;
	display:inline-block;
	border:1px solid white;
	list-style-type: none;
	font-size:97%;
	cursor:pointer;
	vertical-align: text-top;
	
}


 img.myThumb{
	width:98%;
		
}

.myThumb2{
	width:200px;
}

a,a:hover{
	color:grey;
}

.search-button{
	background-color:#4c2875;
	border-color:#4c2875;
	border-radius:0px;
	height:36px;
	margin-top:-2px;
	width:80px;
}

.search-button:hover{
	background-color:#7956a2;
	border-color:#4c2875;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.small-text{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}



h1.small-text {
    font-family: myFirstFont, Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:28px;
	font-weight:bold;
	color:#6b6969;
	margin-top:-50px;
}


ul.thumb-box{
	padding-left:0px;
}

#form > div:nth-child(10) > input, #form > button,#form > div:nth-child(10) > button{
	background-color:#7956a2;
	border-radius:0px;
	border-color:#7956a2;
	
}

input#filterInput{
width:50%;
line-height:30px;
padding-left:10px

}

#logo-button{
	display:none;
}

.mynav{
		height:60px;
		background-color:#eee;
	}