<!doctype html>
<html ng-app = "angularApp">
<head>
<title>PHP MySQL API Consumed with AngularJS</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script src="https://code.angularjs.org/1.5.0-rc.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.0.2" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script data-require="angular-ui@*" data-semver="0.4.0" src="http://rawgithub.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>
	
   <script src="data.js"></script>
<link type="text/css" rel="stylesheet" href="covertubeBeta.css">
<script src="https://www.youtube.com/iframe_api"></script>
<script src="angular-youtube-embed.js"></script>
<script src="angular-socialshare.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
<nav  class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
	   <a href="#" style=""class="pull-left"><img style="height:50px;margin:0px 10px">COVERVIDZ</a>
	  
    </div>
	   <div class="collapse navbar-collapse" id="myNavbar" >
        <ul class="nav navbar-nav">
             <li><form class="navbar-form navbar-left" role="search">
        <div class="form-group" >
		<div class="input-group" method="get" >
		   <input id="filterInput" style="width:550px;line-height:30px;padding-left:10px" type="text" name="search" placeholder="search"><a href="searchpage.php"><input type="submit" value=" " style="line-height:30px;width:50px"><i style="margin-left:-22px" class="glyphicon glyphicon-search"></i></a>

		  </div>
        </div>
   
      </form></li>
	         <li id="but1"><a href="aboutPage.html">About Covervidz</a></li>
	         <li id="but2"><a href="uploadPage.html">Upload</a></li>
			 
			 <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a  href="#">All Videos</a></li>
                <li><a  href="#">Most recent</a></li>
                <li><a  href="#">Most viewed</a></li>
                <li role="separator" class="divider"></li>
		        <li class="dropdown-header">Genres</li>
		        <li><a  href="#">Pop</a></li>
		        <li><a  href="#">R&B </a></li>
		        <li><a  href="#">Rap/Hip-hop</a></li>
		        <li><a  href="#">Rock</a></li>
		        <li><a  href="#">Dance</a></li>
		        <li><a  href="#">Choreography</a></li>
		        <li><a  href="#">Gospel/Christian</a></li>
		        <li><a  href="#">Reggae</a></li>
		        <li><a  href="#">Instrumental/Instrument</a></li>
		        <li><a  href="#">Metal</a></li>
		        <li><a  href="#">Soul/Motown</a></li>
              </ul>
			  </li>
	         
	         
	     </ul>
		 
		<ul class="nav navbar-nav navbar-right">
		      <li><a href="https://www.facebook.com/covervidz" ><i class="fa fa-facebook"></i></a></li>
	          
			  
		    
		    
		</ul>
		</div>
	


    </div>
</nav>
<div class="container">
<div  class="page-header">
    <h1 id="banner" class="text-center"><span class="glyphicon glyphicon-tower"></span>COVERVIDZ</h1>
	
  </div>


<div  ng-controller="formController" class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
 <h3 class="formLabel">Upload a Cover</h3>
     
     <form  id="form" name="myForm" class="form" ng-submit="pushData(form)">
	   <div class="form-group">
            <input   class="form-control" placeholder="Cover Artist Name" ng-model="form.coverArtist" required></input>
	   </div>
	   
	   <div class="form-group">
		     
			 
                  <br>			  
				  <select ng-disabled="form.newArtist" class="form-control"  ng-model="form.originalArtist" ng-options="artist.artist for artist in artists | orderBy:'artist' | unique:'artist'" ng-required='!form.newArtist'>{{artist.artist}}
				  <option ng-repeat="c in colors" style="color:#6666ff" value="">Select Original Artist</option></select>
			  
		<input ng-disabled="form.originalArtist" class="form-control" placeholder="Add New Artist" ng-model="form.newArtist" ng-required='!form.originalArtist'></input>
		
		</div>
		
			<br>
			 <select ng-disabled="form.newSong || form.newArtist" class="form-control" ng-model="form.song" ng-options="artist.name for artist in artists | orderBy:'name' |filter:{a_id: form.originalArtist.a_id} : true | unique:'name'"ng-required='!form.newSong' >{{artist.name}}
			 <option ng-repeat="c in colors" style="color:#6666ff" value="">Select Song</option></select>

			 
		<input ng-disabled="form.song" class="form-control" placeholder="Add New Song" ng-model="form.newSong" ng-required='!form.song'></input>
		<br>
		
		
		
		
		<select  class="form-control" ng-model="form.genre" ng-options="artist.genreName for artist in artists | orderBy:'genreName' | unique:'genreName'" required >{{artist.name}}
			 <option ng-repeat="c in colors" style="color:#6666ff" value="">GENRE</option></select>
			 <br>
			 <h4 class="formLabel">Select a Thumbnail</h4>
		<div >
		<div class="canvas">
		<img id="imagePreview" ng-if="image" src="{{image}}" alt="">
         </div>
		 <input class="btn btn-success center-block bottomaligned" my-upload type = "file" fileread="myFile" file-model = "myFile" accept="image/*"/required>
		 <button  class="btn btn-success center-block" style="margin-top:5px" ng-click="uploadFile();imageUpload = true;working()">Upload Image</button>
		 </div>
         
		 
		 
	
		<br>
		<div class="form-group">
		     <input ng-focus="isFocused = true" ng-blur="isFocused = false" class="form-control" placeholder="Youtube video code" title="URL" ng-model="form.URL"/required>
		</div>
		<div class="form-group">
		     <input  class="form-control" placeholder="Email" title="Email" ng-model="form.email"/required>
		</div>
		<div class="form-group">
		     <input  class="form-control" placeholder="Enter a username" title="Username" ng-model="form.username"/ required>
		</div>
		<button ng-disabled="!imageUpload"  value="submit" type="submit" class="btn btn-success btn-lg btn-block">
    <span class="glyphicon glyphicon-flash"></span> Submit Cover!
  </button>
	 
	 </form>
	 
	 </div>
	 <div class="col-md-4">
	 <div class="uploadInstructions" ng-if="isFocused">
	 <img  class="codePic"src="embedCode.png">
	 <br><br>
	 <p>The video code is all the letters at the end of the <span style="color:red">embed code</span> of the video. Just press 'share' on the youtube 
	 video you want to upload to view it. Then simply copy and paste this into the form.
	 You can also use this code to watch ANY youtube video on our site. Just enter www.covervidz.com#/video/+ the video code e.g.
	 <a>www.covervidz.com#/video/dQw4w9WgXcQ</a>.
	 
	 </p>
	 </div>
	 <div class="uploadInstructions" ng-if="!isFocused">
	 <img  class="thumbnail codePic"src="crop.png">
	 <br>
	 <p>To make a thumbnail for your covervid simply take a screenshot of the video playing on youtube, and then use any image editor to
     crop the image. <br> <span style="color:red">IMPORTANT!! -</span> Make sure you upload your thumbnail image BY CLICKING THE <span class="standout">'UPLOAD IMAGE'</span> BUTTON before attempting to submit your cover!! 
	 
	 </p>
	 </div>
	 
	 
  </div>
	 </div>
	 <div data-my-ad-sense>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad_block_ONE -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5290055527225833"
     data-ad-slot="3837111702"
	 data-ad-test="on"
     data-ad-format="auto"></ins>
	 
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
	 </div>
	  

</body>